USE [Examples]
GO
/****** Object:  Table [dbo].[ActiveInvoices]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveInvoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[InvoiceNumber] [varchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[InvoiceTotal] [money] NOT NULL,
	[PaymentTotal] [money] NOT NULL,
	[CreditTotal] [money] NOT NULL,
	[TermsID] [int] NOT NULL,
	[InvoiceDueDate] [date] NOT NULL,
	[PaymentDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APFlat]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APFlat](
	[VendorName] [varchar](50) NOT NULL,
	[InvoiceNumber] [varchar](50) NOT NULL,
	[ItemDescription1] [varchar](100) NULL,
	[ItemDescription2] [varchar](100) NULL,
	[ItemDescription3] [varchar](100) NULL,
	[ItemDescription4] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerLast] [nvarchar](30) NULL,
	[CustomerFirst] [nvarchar](30) NULL,
	[CustAddr] [nvarchar](60) NULL,
	[CustCity] [nvarchar](15) NULL,
	[CustState] [nvarchar](15) NULL,
	[CustZip] [nvarchar](10) NULL,
	[CustPhone] [nvarchar](24) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DateSample]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateSample](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DeptNo] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DeptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](35) NOT NULL,
	[FirstName] [varchar](35) NOT NULL,
	[DeptNo] [int] NOT NULL,
	[ManagerID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesOld]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesOld](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](35) NOT NULL,
	[FirstName] [varchar](35) NOT NULL,
	[DeptNo] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesTest]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesTest](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](35) NOT NULL,
	[FirstName] [varchar](35) NOT NULL,
	[DeptNo] [int] NOT NULL,
	[ManagerID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investors]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investors](
	[InvestorID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [char](2) NULL,
	[ZipCode] [char](10) NULL,
	[Phone] [char](20) NULL,
	[Investments] [money] NULL,
	[NetGain] [money] NULL,
 CONSTRAINT [PK_Investors] PRIMARY KEY CLUSTERED 
(
	[InvestorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] NOT NULL,
	[InvoiceNumber] [int] NULL,
	[InvoiceTotal] [smallmoney] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NullSample]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NullSample](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceTotal] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaidInvoices]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaidInvoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[InvoiceNumber] [varchar](50) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[InvoiceTotal] [money] NOT NULL,
	[PaymentTotal] [money] NOT NULL,
	[CreditTotal] [money] NOT NULL,
	[TermsID] [int] NOT NULL,
	[InvoiceDueDate] [date] NOT NULL,
	[PaymentDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectNo] [char](5) NOT NULL,
	[EmployeeID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealSample]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealSample](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[R] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesReps]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReps](
	[RepID] [int] IDENTITY(1,1) NOT NULL,
	[RepFirstName] [varchar](50) NOT NULL,
	[RepLastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SalesReps] PRIMARY KEY CLUSTERED 
(
	[RepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesTotals]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesTotals](
	[RepID] [int] NOT NULL,
	[SalesYear] [char](4) NOT NULL,
	[SalesTotal] [money] NOT NULL,
 CONSTRAINT [PK_SalesTotals] PRIMARY KEY CLUSTERED 
(
	[RepID] ASC,
	[SalesYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sample]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sample](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NULL,
	[Color] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StringSample]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StringSample](
	[ID] [char](3) NULL,
	[Name] [varchar](25) NULL,
	[AltID] [char](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 4/23/2026 8:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](50) NOT NULL,
	[VendorAddress1] [nvarchar](50) NULL,
	[VendorAddress2] [nvarchar](50) NULL,
	[VendorCity] [nvarchar](50) NOT NULL,
	[VendorState] [nchar](2) NOT NULL,
	[VendorZipCode] [nvarchar](10) NOT NULL,
	[VendorContactLName] [nvarchar](35) NULL,
	[VendorContactFName] [nvarchar](35) NULL,
	[VendorPhone] [nvarchar](50) NULL,
	[TermsID] [int] NOT NULL,
	[AccountNo] [int] NOT NULL,
	[LastTranDate] [date] NULL,
	[YTDPurchases] [money] NULL,
	[YTDReturns] [money] NULL,
	[LastYTDPurchases] [money] NULL,
	[LastYTDReturns] [money] NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_VendorName] UNIQUE NONCLUSTERED 
(
	[VendorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sample] ADD  CONSTRAINT [DF_Sample_Text]  DEFAULT ('None') FOR [Color]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_TermsID]  DEFAULT ((3)) FOR [TermsID]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_AccountNo]  DEFAULT ((570)) FOR [AccountNo]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_YTDPurchases]  DEFAULT ((0)) FOR [YTDPurchases]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_YTDReturns]  DEFAULT ((0)) FOR [YTDReturns]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_LastYTDPurchases]  DEFAULT ((0)) FOR [LastYTDPurchases]
GO
ALTER TABLE [dbo].[Vendors] ADD  CONSTRAINT [DF_Vendors_LastYTDReturns]  DEFAULT ((0)) FOR [LastYTDReturns]
GO
ALTER TABLE [dbo].[SalesTotals]  WITH CHECK ADD  CONSTRAINT [FK_SalesTotals_SalesReps] FOREIGN KEY([RepID])
REFERENCES [dbo].[SalesReps] ([RepID])
GO
ALTER TABLE [dbo].[SalesTotals] CHECK CONSTRAINT [FK_SalesTotals_SalesReps]
GO
